:root {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    float: left;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
section {
    /* border: 1px solid black;
    padding: 10px;
    margin: 25px; */
}
nav {
    /* border: 5px solid black;
    padding: 10px;
    margin: 25px; */
}
#queens {
    max-height: 250px;
}
.float-right {
    float: right;
}
.contains-list {
    list-style: none;
}
